.container{

    .box_1{
        margin-left: 20px;

        .grid{
            margin-top: 15px;

            .donut_chart{
                background: rgb(46, 46, 46);
                color: teal;
            }
    
            .code_highlight{
                border: 1px solid teal;
            }
        }
    }
}