.header{
    background-color: black;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.navbar{
    background-color: teal;
    min-height: 100vh;
    color: white;
}
